@font-face {
    font-family: Nostromo-Oblique-Black;
    src: url(../styles/nostromo/Oblique/NostromoOblique-Black.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Bold;
    src: url(../styles/nostromo/Oblique/NostromoOblique-Bold.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Heavy;
    src: url(../styles/nostromo/Oblique/NostromoOblique-Heavy.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Light;
    src: url(../styles/nostromo/Oblique/NostromoOblique-Light.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Medium;
    src: url(../styles/nostromo/Oblique/NostromoOblique-Medium.otf);
  }


  @font-face {
    font-family: Nostromo-Black;
    src: url(../styles/nostromo/Regular/NostromoRegular-Black.otf);
  }

  @font-face {
    font-family: Nostromo-Bold;
    src: url(../styles/nostromo/Regular/NostromoRegular-Bold.otf);
  }

  @font-face {
    font-family: Nostromo-Heavy;
    src: url(../styles/nostromo/Regular/NostromoRegular-Heavy.otf);
  }

  @font-face {
    font-family: Nostromo-Light;
    src: url(../styles/nostromo/Regular/NostromoRegular-Light.otf);
  }

  @font-face {
    font-family: Nostromo-Medium;
    src: url(../styles/nostromo/Regular/NostromoRegular-Medium.otf);
  }