@import "../../node_modules/bulma/bulma";
@import "../styles/buttons.scss";
@import "../styles/card.scss";
@import "../styles/navigation.scss";
@import "../styles/fonts.scss";

//* VARIABLES *//
$blue: blue;
$red: red;
$white: #FFF;
$black : #000;
$orange: #e84834;
$orange-shadow: #ab3122;
$title-font: 'Nostromo-Black';
.box{box-shadow: 2px 2px 3px 2px $orange; border-radius: 3px;}
.button {background-color: $orange; box-shadow: 1px 2px 4px 1px $black;}
.title { font-family: $title-font;}

//* GLOBAL VARIABLES *//
$primary: $blue;
$link: $red;

.d-none {
    display: none;
}

.white {
    color: $white;
    text-shadow: -1px 2px 3px $orange-shadow;

    &:hover{
    color: $orange;
    text-shadow: -1px 2px 6px $orange-shadow;
    }
}

.test{
  z-index: 999;

}

.test:hover {
  display: none;
  position: absolute;
  }




