@use 'variables' as *;



html, body {
  overscroll-behavior-x: none;
}
body,
button,
input,
optgroup,
select,
textarea {
  font-family: Nostromo-Medium;
}
.bold {
  font-weight: bold;
}
.italicize {
  font-style: italic;
}

body {
  height: 654px;
}
.body {
  height: 654px;
}



.footer {
  background-color: transparent;
}
.pl-9 {
  padding-left: 6rem !important;
}
.subtitle {
  line-height: 0.5rem;
}
.right {
  float: right;
}
.orange {
  color: $orange;
}
.justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}

.caption {
  display: block;
  font-weight: bold;
}


//* GLOBAL VARIABLES *//
$primary: $orange;

.primary {
  color: $orange;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}



.padding-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}




.relative {
  position: relative;
}


.line-height {
  line-height: 20%;
}


.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-column-reverse {
    flex-direction: column-reverse;
}
.flex-justify-center {
    justify-content: center;
}

