@use 'variables' as *;





.background {
    background-image: url("/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    min-height: 920px;
}

.quote-background {
  position: relative;
  z-index: 2;
  background: radial-gradient(
    circle at center,
    rgba(171, 49, 34, 0.75),
    rgba(4, 12, 40, 0.95),
    rgba(136, 136, 136, 0.9)
  );
  background-size: 300% 300%;
  background-position: 50% 50%;
  padding: 2rem 3rem;
  border-radius: 1rem;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: background-position 0.2s ease-out;
  animation: gradientShift 15s ease infinite;
  top: 100%;
  transform: translateY(-50%);
}
  .door-wrapper {
    position: relative;
    width: 100%;
    height: 75vh;
    z-index: 1;
  }

@media only screen and (max-width: 3970px) {
  .text-animation-border-right {
    border-right: 0.35vw solid $orange;
    height: 40vw;
  }
}

@media only screen and (max-width: 1941px) {
    .quote-background {
    padding: 2rem 3rem;
    top: 55%;
  }
.orb {

  &::before {
  }

  &::after {
    inset: -90px;
  }
}
  .text-animation-border-right {
    border-right: 0.35vw solid $orange;
    height: 40vw;
  }
}

@media only screen and (max-width: 1450px) {
    .background {
    min-height: 900px;
}   

  .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }
.orb {

  &::before {
  }

  &::after {
    inset: -64px;
  }
}
  .door-wrapper {
    height: 75vh;
  }
  .text-animation-border-right {
    border-right: 0.35vw solid $orange;
    height: 40vw;
  }
}

@media only screen and (max-width: 1281px) {
  .background {
    min-height: 920px;
}   
  
  .quote-background {
    padding: 2rem 3rem;
    top: 70%;
  }
  
  .door-wrapper {
    height: 100vh;
  }
  .text-animation-border-right {
    border-right: 0.35vw solid $orange;
    height: 40vw;
  }
  .header-style-one {
    position: relative;
    background-color: $black;
  }
}

@media only screen and (max-width: 1081px) {
     .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }
   .text-animation-body {
  min-height: 45vh;
}
  .door-wrapper {
    height: 30vh;
  }
  .text-animation-border-right {
    border-right: 0.35vw solid $orange;
    height: 40vw;
  }
  .project-spacing {
    padding: 10vh 3vh;
  }
  .gap {
    padding: 80px 0;
  }
  .no-top {
    padding-top: 0;
  }
  .no-bottom {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 929px) {
    .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }
 .orb {
    bottom: 6rem;
    left: 4rem;
  }

  .text-animation-body {
  min-height: 45vh;
}
  .door-wrapper {
    height: 30vh;
  }
  .project-spacing {
    padding: 12vh 3vh;
  }
  input,
  select {
    height: 60px;
  }
  .about-style-one .about-data-right h2,
  .heading h2,
  .heading-style-2 .data h2,
  .client-review-slider .slider-data h3,
  .cta-section .cta-data h2,
  .blog-style-three .blog-heading h2,
  .heading.heading-style-3 h2 span,
  .about-first h2,
  .about-key-benefits .data h2,
  .revolution .head h2,
  .contact-form-2 .data h2,
  .client-review-style-one .head-review h3 {
    font-size: 35px;
    line-height: 45px;
    color: $black;
  }
}

@media only screen and (max-width: 769px) {
    .quote-background {
    padding: 2rem 3rem;
    top: 45%;
  }

    .orb {
    padding: 9vw 9vw;
    bottom: 1rem;
    left: -1rem;
  }

  .text-animation-border-right {
    border-bottom: 0.35vw solid $orange;
    border-right: none;
    width: 100%;
    height: 0;
  }
  .door-wrapper {
    height: 30vh;
  }
  .box {
    padding: 40px;
    background-image: url("/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 920px;
  }
  .box input,
  .portfolio-box input {
    height: 60px;
  }
  .portfolio-box {
    box-shadow: 2px 2px 3px 2px #e84834;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    min-height: 250px;
  }
  .mobile-nav {
    width: 55%;
  }

  .form form > .row > .form-group input {
    margin-bottom: 10px;
  }
  .form form input[type=checkbox]+label {
    font-size: 16px;
    line-height: 22px;
  }
  .gap {
    padding: 60px 0;
  }

}

@media only screen and (max-width: 428px) {
  .mobile-nav {
    width: 100%;
  }
.mobile-nav a#res-cross:before {
    content: "";
    width: 35px;
    height: 35px;
    background-image: url('/images/remove.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 20px;
}
    .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }

   .door-wrapper {
    display: none;
  }

    .orb {
    padding: 9vw 9vw;
    bottom: 1rem;
    left: -1rem;
  }

  .text-animation-border-right {
    border-bottom: 0.35vw solid $orange;
    border-right: none;
    width: 100%;
    height: 0;
  }

    .project-spacing {
    padding: 10vh 0vh 10vh 0vh;
  }

}

@media only screen and (max-width: 377px){
  .mobile-nav {
    width: 100%;
  }
  .mobile-nav a#res-cross:before {
    content: "";
    width: 35px;
    height: 35px;
    background-image: url('/images/remove.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 20px;
}
    .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }
   .door-wrapper {
    display: none;
  }
  .text-animation-border-right {
    border-bottom: 0.35vw solid $orange;
    border-right: none;
    width: 100%;
    height: 0;
  }



  img.scrollTopStick i {
    font-size: 11px;
  }
  img.scrollTopStick.active:before {
    width: 50px;
    height: 50px;
  }
  img.scrollTopStick {
    width: 60px;
    height: 65px;
    bottom: 20px;
    right: 20px;
  }
  .about-style-one .about-data-right h2,
  .heading h2,
  .heading-style-2 .data h2,
  .client-review-slider .slider-data h3,
  .cta-section .cta-data h2,
  .blog-style-three .blog-heading h2,
  .heading.heading-style-3 h2 span,
  .about-first h2,
  .about-key-benefits .data h2,
  .revolution .head h2,
  .contact-form-2 .data h2,
  .client-review-style-one .head-review h3 {
    font-size: 30px;
    line-height: 40px;
    color: $black;
  }
  .quote-background {
    padding: 2rem 0rem;
    top: 45%;
  }

}

@media only screen and (max-width: 360px){
  .mobile-nav {
    width: 100%;
  }
  .orb {
    padding: 9vw 9vw;
    bottom: 1rem;
    left: -1rem;
  }
  .text-animation-border-right {
    border-bottom: 0.35vw solid $orange;
    border-right: none;
    width: 100%;
    height: 0;
  }
.text-animation-body {
    min-height: 45vh;
  }
    .quote-background {
    padding: 2rem 3rem;
    top: 50%;
  }
   .door-wrapper {
    display: none;
  }

}