/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: Nostromo-Oblique-Black;
  src: url(../fonts/nostromo/Oblique/NostromoOblique-Black.otf);
}

@font-face {
  font-family: Nostromo-Oblique-Bold;
  src: url(../fonts/nostromo/Oblique/NostromoOblique-Bold.otf);
}

@font-face {
  font-family: Nostromo-Oblique-Heavy;
  src: url(../fonts/nostromo/Oblique/NostromoOblique-Heavy.otf);
}

@font-face {
  font-family: Nostromo-Oblique-Light;
  src: url(../fonts/nostromo/Oblique/NostromoOblique-Light.otf);
}

@font-face {
  font-family: Nostromo-Oblique-Medium;
  src: url(../fonts/nostromo/Oblique/NostromoOblique-Medium.otf);
}

@font-face {
  font-family: Nostromo-Black;
  src: url(../fonts/nostromo/Regular/NostromoRegular-Black.otf);
}

@font-face {
  font-family: Nostromo-Bold;
  src: url(../fonts/nostromo/Regular/NostromoRegular-Bold.otf);
}

@font-face {
  font-family: Nostromo-Heavy;
  src: url(../fonts/nostromo/Regular/NostromoRegular-Heavy.otf);
}

@font-face {
  font-family: Nostromo-Light;
  src: url(../fonts/nostromo/Regular/NostromoRegular-Light.otf);
}

@font-face {
  font-family: Nostromo-Medium;
  src: url(../fonts/nostromo/Regular/NostromoRegular-Medium.otf);
}

@font-face {
  font-family: Nostromo-Outline-Black;
  src: url(../fonts/nostromo/Outline/NostromoOutline-Black.otf);
}

@font-face {
  font-family: Nostromo-Outline-Black-Oblique;
  src: url(../fonts/nostromo/Outline/NostromoOutline-BlackOblique.otf);
}

@font-face {
  font-family: Nostromo-Outline-Black-Rough;
  src: url(../fonts/nostromo/Outline/NostromoOutline-BlackRough.otf);
}

@font-face {
  font-family: Nostromo-Outline-Black-Oblique-Rough;
  src: url(../fonts/nostromo/Outline/NostromoOutline-BlackObliqueRough.otf);
}

@font-face {
  font-family: Nostromo-Outline-Bold;
  src: url(../fonts/nostromo/Outline/NostromoOutline-Bold.otf);
}

@font-face {
  font-family: Nostromo-Outline-Bold-Rough;
  src: url(../fonts/nostromo/Outline/NostromoOutline-BoldRough.otf);
}

@font-face {
  font-family: Nostromo-Outline-Heavy;
  src: url(../fonts/nostromo/Outline/NostromoOutline-Heavy.otf);
}

@font-face {
  font-family: Nostromo-Outline-Heavy-Rough;
  src: url(../fonts/nostromo/Outline/NostromoOutline-HeavyRough.otf);
}

@font-face {
  font-family: Nostromo-Outline-Light;
  src: url(../fonts/nostromo/Outline/NostromoOutline-Light.otf);
}

@font-face {
  font-family: Nostromo-Outline-Medium;
  src: url(../fonts/nostromo/Outline/NostromoOutline-Medium.otf);
}





/* STYLE VARIABLES */

$accent-1: #040c28;
$accent-3: #d6d6d6;

$blue: #040c28;
$grey: #464646;
$white: #FFF;
$black : #000;
$orange: #e84834;
$orange-shadow: #ab3122;
$yellow: #e4911f;
$title-font: 'Nostromo-Black';

$light-bg: #f7f6f2;
$dark-bg: #0f0f0f;

$white: #fff;

$text-xs: 15px;
$text-sm: 16px;
$text-md: 20px;
$text-lg: 50px;
$text-xl: 60px;

$titles-font-weight: 700;
$text-font-weight: 400;
$link-font-weight: 700;
$btn-font-weight: 700;

$site-background: $light-bg;

$top-panel-height: 108px;

$defaultTransition: 0.3s ease-in-out;

:export {
    accentColor: $accent-1;
}