@font-face {
    font-family: Nostromo-Oblique-Black;
    src: url(../styles/fonts/nostromo/Oblique/NostromoOblique-Black.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Bold;
    src: url(../styles/fonts/nostromo/Oblique/NostromoOblique-Bold.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Heavy;
    src: url(../styles/fonts/nostromo/Oblique/NostromoOblique-Heavy.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Light;
    src: url(../styles/fonts/nostromo/Oblique/NostromoOblique-Light.otf);
  }

  @font-face {
    font-family: Nostromo-Oblique-Medium;
    src: url(../styles/fonts/nostromo/Oblique/NostromoOblique-Medium.otf);
  }


  @font-face {
    font-family: Nostromo-Black;
    src: url(../styles/fonts/nostromo/Regular/NostromoRegular-Black.otf);
  }

  @font-face {
    font-family: Nostromo-Bold;
    src: url(../styles/fonts/nostromo/Regular/NostromoRegular-Bold.otf);
  }

  @font-face {
    font-family: Nostromo-Heavy;
    src: url(../styles/fonts/nostromo/Regular/NostromoRegular-Heavy.otf);
  }

  @font-face {
    font-family: Nostromo-Light;
    src: url(../styles/fonts/nostromo/Regular/NostromoRegular-Light.otf);
  }

  @font-face {
    font-family: Nostromo-Medium;
    src: url(../styles/fonts/nostromo/Regular/NostromoRegular-Medium.otf);
  }


  @font-face {
    font-family: Nostromo-Outline-Black;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-Black.otf);
  }

  
  @font-face {
    font-family: Nostromo-Outline-Black-Oblique;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-BlackOblique.otf);
  }

  
  @font-face {
    font-family: Nostromo-Outline-Black-Rough;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-BlackRough.otf);
  }
  
  @font-face {
    font-family: Nostromo-Outline-Black-Oblique-Rough;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-BlackObliqueRough.otf);
  }

    
  @font-face {
    font-family: Nostromo-Outline-Bold;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-Bold.otf);
  }

  @font-face {
    font-family: Nostromo-Outline-Bold-Rough;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-BoldRough.otf);
  }

  @font-face {
    font-family: Nostromo-Outline-Heavy;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-Heavy.otf);
  }

  @font-face {
    font-family: Nostromo-Outline-Heavy-Rough;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-HeavyRough.otf);
  }

  @font-face {
    font-family: Nostromo-Outline-Light;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-Light.otf);
  }


  @font-face {
    font-family: Nostromo-Outline-Medium;
    src: url(../styles/fonts/nostromo/Outline/NostromoOutline-Medium.otf);
  }


body, button, input, optgroup, select, textarea {font-family: Nostromo-Medium;}
.bold {font-weight: bold;}
.italicize {font-style: italic;}


.trailsText {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}