$blue: #040c28;
$grey: #888;
$white: #FFF;
$black : #000;
$orange: #e84834;
$orange-shadow: #ab3122;
$title-font: 'Nostromo-Black';




  .play-button{
    margin-top: 2rem;
  }

  .play-button:hover{
    color: $orange;
  }