//* VARIABLES *//

$title-font: 'Nostromo-Black';

//* END VARIABLES *//

.header{
    font-family: $title-font;
}

.header-top-color {

    background-color: #040c28;
    height: 30px;
}


.background {
    background-image: url("/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    min-height: 780px;
}

.body-bg {
    background-image: url("/body-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 780px;
}

.main-body-bg {
    background-image: url("/main-body-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    min-height: 780px;
}

.footer-bg {
    background-image: url("/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    min-height: 780px;
}


.footer-bottom-color {

    background-color: #040c28;
    height: 25px;
}

